<!DOCTYPE html>

<html>
    <head>
        <title>Aman Kumar</title>
        <!-- <base href="http://AmanKumar.in"> -->
        <link href="../CSS/index.css" rel="stylesheet">
        <meta name="test.json">
    </head>
    
    <body>
        <header class="page-header">
            <h1>Aman Kumar</h1>
        </header>
        <aside>
            <p>
                <img class="profilePic" src="../Resources/images/ProfilePic.jpg">
            </p>
        </aside>
        <main>
            <p>
                Hi I am Aman Kumar, a 26 year old Web developer, and a Digital Marketer living in Bangalore, India. I am an Engineer, currently working with awesome folks at Siemens Healthineers.
            </p>
        </main>
        <p>
            Have a look at my 
            <a href="https://leetcode.com/aman7singh/" target="_blank">Leetcode</a> or just connect with me on
            <a href="https://www.linkedin.com/in/amankumar0509/" target="_blank">LinkedIn</a>. I am always excited to do business with like minded people, lets discuss over coffee.
        </p>
        
    </body>
    <footer>
        <address>
            You can contact Aman at<br>
            Mail: <a href="mailto:1994amansingh@gmail.com">1994amansingh@gmail.com</a><br>
            Phone: <a href="tel:+91123456542">(+91)123456542</a><br>
            Leetcode: <a href="https://leetcode.com/aman7singh/">@Leetcode/</a><br>
            LinkedIn: <a href="https://www.linkedin.com/in/amankumar0509/">@LinkedIn</a><br>
            Current Location: <a href="https://en.wikipedia.org/wiki/Bangalore">Bangalore</a>
        </address>
    </footer>
</html>